# Operation

## Kedro
TODO: A guide on how to add new pipelines and nodes.

## Kedro-Viz

Kedro provides a user interface called `kedro-viz` that visualizes the implemented pipelines and nodes.
This is a very valuable resource when debugging the application.
You can access the dashboard by running it:

```bash
make viz
```
After that, the user interface can be accessed with a browser at `http://localhost:4141`.

## Mlflow

MLflow is a platform for tracking experiments and packaging code into reproducible runs.
It provides an API to log parameters, code, and results of machine learning experiments and compare them through an interactive user interface.
This gives us the ability to monitor model performance across different runs and maintain machine learning models in production reliably and efficiently.
Each run of the liquidity forecasting application logs various metrics and parameters in `mlflow`.
The user interface can be run with the following command:

```bash
make mlflow
```
After that the gui can be access with a browser on `http://localhost:5001`.
