# {{ project_name.title() }}
------------------------------

{{ project_description }}

## Overview

**Client:** {{ client_name }}

**Project duration:**

**Status:**

## Contact

| Name            | Mail                         | Role                  |
| --------------- | ---------------------------- | --------------------- |
| {{ author_fullname }} | {{ author_email }} | Data Scientist          |
