# Development Guide

## Source Folder

    src
    ├──{{ package_name }}
    │   ├── __main__.py
    │   ├── constants.py
    │   ├── extras
    │   ├── hooks.py
    │   ├── pipeline_registry.py
    │   ├── pipelines
    │   ├── plugin.py
    │   ├── settings.py
    │   └── utils
    └── tests

## Miscellaneous Files

    ├── .cz.toml
    ├── .env
    ├── .envrc
    │
    ├── .git
    ├── .github
    ├── .gitignore
    │
    ├── .pre-commit-config.yaml
    │
    ├── .python-version
    ├── .venv
    ├── .vscode
    ├── setup.cfg
    ├── poetry.lock
    ├── pyproject.toml
    │
    ├── LICENCE
    ├── README.md
    ├── Makefile
    │
    ├── docs
    ├── mkdocs.yml
    │
    ├── conf
    ├── data
    ├── notebooks
    ├── reports
    │
    └── src
