[data-md-color-scheme="statworx"] {
  --md-primary-fg-color: #000000;
  --md-primary-fg-color--dark: #0000ff;
  --md-typeset-a-color: #0000ff;
  --md-primary-bg-color: #ffffff;
  --md-default-fg-color: #333333;
  --md-default-fg-color--light: #888888;
  --md-default-bg-color: #ffffff;
  --md-accent-fg-color: #0000ff;
  --md-text-font: "Epilogue", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  --md-footer-bg-color: #0000ff;
  --md-footer-fg-color: #ffffff;
  --md-footer-bg-color--dark: #000000;
  --md-footer-fg-color--light: #ffffff;
  /* code colors */
  --md-code-fg-color: #333333;
  --md-code-bg-color: #f5f5f5;
  --md-code-hl-color: #FFFF00;
  --md-code-hl-number-color: #FE0D6C;
  --md-code-hl-special-color: #cd1065;
  --md-code-hl-function-color: #a742f9;
  --md-code-hl-constant-color: #7C22C5;
  --md-code-hl-keyword-color: #0000ff;
  --md-code-hl-string-color: #00a000;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

.md-content__inner>h1 {
  color: #000000;
  font-weight: bold;
}